* {
    margin: 0;
    padding: 0;
}

.gradient {
    background-color: #72a6ff;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );    
    background-size: 200%;
    animation: animation 15s infinite alternate; 
    width: 100%;
    height: 100vh;
}

@keyframes animation {
    0% {
       background-position: left;

    }
    
    100% {
        background-position: right;

    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
}

.profile > img {
    width: 90px;
    height: 90px;
    margin-top: 70px;
}

.profile > p {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile > a {
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin-top: 20px; 
}

.container > a {
    text-decoration: none;
    text-align: center;
    width: 80%;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 10px;
    padding: 14px;
    transition: all 6.ms ease-in-out;
}

.container > a:hover {
    background-color: #afccff;

}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > a {
    text-decoration: solid;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 80px;
}
