 * {
    margin: 0;
    padding: 0;
}

.background {
    background-color: #72a6ff;
    background-image: linear-gradient( 109.6deg,  rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%, rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );    
    background-size: 200%;
    animation: animation 15s infinite alternate; 
    width: 100%;
    height: 100vh;

}
 

@keyframes animation {
    0% {
       background-position: left;

    }
    
    100% {
        background-position: right;

    }
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.home > p {
    background: transparent;
    margin-top: 100px;
}

.home > p:hover {
    background-color: #afccff;
}

.home > a {
    text-decoration: none;
    text-align: center;
    width: 80%;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    padding: 14px;
    margin-top: 10px;
    transition: all 6.ms ease-in-out;
} 

.home > a:hover {
    background-color: #afccff;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > a {
    text-decoration: solid;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 70px;
    padding-top: 70px;
}

